<h1> <%= @event.title %> </h1>

    <p>
    Titre : <%= @event.title %> 
    </p>
    <p>
    Date :  <%= @event.start %>
    </p>
    <p>
    Durée :  <%= @event.duration %> min
    </p>
    <p>
    Prix : <%= @event.price %>
    </p>
    <p>
    Lieux : <%= @event.location %>
    </p>
    <p>
    Description : <%= @event.description %>
    </p>
    <p>
    Créateur : <%= @event.admin.email %>
    </p>

    